# Archivos de entorno
venv/
*.env

# Archivos de configuración del editor (por ejemplo, Visual Studio Code, PyCharm, etc.)
.vscode/
.idea/

# Archivos generados por Python
*.pyc
__pycache__/

# Archivos de log
*.log

# Archivos temporales
*.swp
*.bak

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db